---
import Underline from './Underline.astro';
---

<section id="about">
  <h2 class="font-bold relative text-3xl w-fit">
    <Underline />
    About
  </h2>

  <p class="mt-6 text-lg">
    Frontend developer with a keen eye for crafting engaging and user-centric
    web experiences. Whether it's designing responsive layouts, optimizing for
    performance, or creating seamless user interfaces, I take pride in my
    ability to translate concepts into code that not only functions flawlessly
    but also look great to the users. Feel free to reach out and discuss your
    project.
  </p>
</section>
